@import '../_styles/theme';

.header {
    height: 700px;
}

.header:not(.bigButton) {
    font-family: 'Courier New', Courier, monospace;
}

.name-heading {
    background-color: $color-primary-text;
    color: #fff;
    padding: 8px;
    border-radius: 8px 8px 8px 0px;
    margin-left: 110px;
}

.center-vertical {
    position: relative;
    top: 280px
}

h1 {
    font-family: 'Courier New Header', Courier, monospace;
    letter-spacing: 8px;
    color: #fff;
}

.line {
    width: 60px;
    margin: 0 auto;
    border-bottom: solid;
    border-bottom-color: #0093cb;
    border-bottom-width: 2px;
}

.bigButton {
    border: 1px solid #fff;
    padding: 20px 40px;
    border-radius: 3px;
    color: #fff;
}

.bigButton:hover {
    color: #fff;
}

.image-profile {
    margin-left: 80px;
    margin-top: 10px;
    height: 90vh;
    object-fit: cover;
    // filter: grayscale(100);
}