@import '../_styles/theme';

.Home {
  color: #bbb;
  background: url('../_assets/bg_header_1.png') no-repeat center center fixed; 
  box-shadow: inset 0 10px 0 100vmax $color-primary-background-translucent;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.space {
    margin-bottom: 80px;
}