$color-primary-text: #F2AA4CFF;
$color-secondary-text: #0093cb;
$color-text-light-black: #b3b3b3;
$color-primary-background-dark: rgb(36, 25, 41);
$color-primary-background-translucent: rgba(70,52,78,.7);
$color-secondary-background-light: #7ac9e9;


$navbar-height: 70px;
